body{
    margin: 0;
}
.men2 {
  background-color: rgb(206, 86, 39);
}
.men1 h1 {
 padding-left:10% ;
}
.men3 a ,h3 {
    color: black;
    display: inline-block;
    font-family: sans-serif;
    padding-left: 11%;
    width:1% ;
    text-decoration: none;
    margin-top: -10%;
    margin-bottom:-59% ;
}
